/* font-family: 'Oswald', sans-serif; */

body {
    background-color: rgb(126, 126, 142);
}

.headSection {
    margin: 0;
    padding: 0;
}

#headSection {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#header {
    font-size: 2rem;
}

#subHeader{
    font-size: 1.5rem;
}

#headerIMG{
    margin-top: 3%;
    width: 9%;
    border-radius: 50%;
    border-style: ridge;
    border-color: gray;
}

#cloud {
    display: inline;
    position: absolute;
    margin-top: 3%;
    margin-left: 75%;
}

#cloud2 {
    display: inline;
    position: absolute;
    margin-top: 7%;
    margin-left: 65%;
}

a,
.boxHeader {
    color: black;
    text-decoration: none;
    display: block;
    margin: 0 14.5%;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1%;
}

a:hover,
.boxHeader:hover {
    color: rgb(41, 41, 41);
}

.tilbake {
    font-weight: bold;
}

#omMegText {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    left: 7%;
    margin-right: 50%;
}

#utdanningListe{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    left: 7%;
    margin-right: 50%;
    list-style: none;
}