.home-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F0F0F0;
}

.profile {
    border: 1px solid #B4C5E4;
    border-radius: 90%;
}